<!-- views/index.ejs -->
<!doctype html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSlicer Cloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
      body {
          padding-top: 60px;
      }
      section {
          padding-top: 40px;
          margin-top: -40px;
      }
    </style>
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <a class="navbar-brand" href="#page-top">CSlicer Cloud</a>
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="my-navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="hidden"><a href="#page-top"></a></li>
	    <li><a href="#about">About</a></li>
	    <li><a href="#under">Under the Hood</a></li>
	    <li><a href="#pub">Publications</a></li>
	    <li><a href="#people">People</a></li>
	  </ul>
	</div>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron text-center">
	<h1>CSlicer Cloud</h1>
	<p class="lead">A semantic history slicing service for Java projects hosted on GitHub.</p>
	<br>
	<p><span class="fa fa-lock"></span> Login with your GitHub account:</p>
	<a href="<%= baseURL %>/auth/github" class="btn btn-primary btn-lg"><span class="fa fa-github"></span> Login</a>
      </div>
    </div>

    <section id="about">
      <div class="container">
	<div class="page-header">
	  <h1 class="text-center text-primary">About</h1>
	</div>
	<div class="row">
	  <p class="lead text-center">CSlicer Cloud is a web-based framework powering a collection of <em>semantic history slicing</em> techniques.
	</div>
	<div class="row">
	  <div class="col-md-4">
            <h3 class="text-primary">CSlicer</h3>
            <p><em>CSlicer</em> is a static history slicing technique based on dependency analysis. It mostly relies on static analysis
              of dependencies between change sets and is therefore much cheaper in terms of running time. CSlicer requires only
              a one-time effort for compilation and test execution.</p>
            <p><a class="btn btn-default" href="http://www.cs.toronto.edu/~liyi/host/posts/paper-accepted-by-ase-2015/" role="button">View details &raquo;</a></p>
	  </div>
	  <div class="col-md-4">
            <h3 class="text-primary">Definer</h3>
            <p><em>Definer</em> performs dynamic slicing through delta refinement. It executes tests multiple times and observes
              the test results while attempting to shorten the history slices iteratively. The semantic slices found by the dynamic
              approach are guaranteed to be minimal, but the running time is usually much longer.</p>
            <p><a class="btn btn-default" href="http://www.cs.toronto.edu/~liyi/host/posts/paper-accepted-by-ase-2016/" role="button">View details &raquo;</a></p>
	  </div>
	  <div class="col-md-4">
            <h3 class="text-primary">FHistorian</h3>
            <p><em>FHistorian</em> identifies feature and feature relationships in version histories with the precence of feature
              tests. It builds feature relationship graph which is very useful for understanding dependencies and connections
              between features from an evolutionary view point.</p>
            <p><a class="btn btn-default" href="http://www.cs.toronto.edu/~liyi/host/posts/paper-accepted-by-splc-2017/" role="button">View details &raquo;</a></p>
	  </div>
	</div>
      </div>
    </section>

  <section id="under">
    <div class="container">
    <div class="page-header">
      <h1 class="text-center text-primary">Under the Hood</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="<%= baseURL %>/images/static-slice.jpeg" alt="static" style="width:80%">
          <div class="caption">
            <p>Static history slicing first runs the target tests and computes a <em>functional set</em> and a <em>compilation set</em>              which correspond to the atomic changes necessary for preserving the semantics and the well-formedness of the
              target functionality. Then it goes through each commit to decide if it is relevant or not, based on precomputed
              dependencies.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="<%= baseURL %>/images/dynamic-slice.jpeg" alt="dynamic" style="width:89%">
          <div class="caption">
            <p>Dynamic history slicing partitions the input history by dropping some commits and opportunistically reduces the
              search space when the target tests pass on one of the partitions, until a minimal partition is reached. It
              also uses observed test pass/fail signals and dynamic program invariants to predict the significance of changes
              with respect to the target tests.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section id="pub">
  <div class="container">
      <div class="page-header">
        <h1 class="text-center text-primary">Publications</h1>
      </div>
      <div class="row">
        <ul>
          <li>
            <h4 class="text-primary"><b>Semantic Slicing of Software Version Histories</b></h4>
            <p>Yi Li, Chenguang Zhu, Julia Rubin and Marsha Chechik.
              <i>Transactions on Software Engineering, IEEE, accepted.</i></p>
          </li>
          <li>
            <h4 class="text-primary"><b>FHistorian: Locating Features in Version Histories</b></h4>
            <p>Yi Li, Chenguang Zhu, Julia Rubin and Marsha Chechik.
              <i>In Proceedings of the 21st International Systems and Software Product Line Conference, to appear.</i></p>
          <li>
            <h4 class="text-primary"><b>A Dataset for Dynamic Discovery of Semantic Changes in Version Controlled Software Histories.</b></h4>
            <p>Chenguang Zhu, Yi Li, Julia Rubin and Marsha Chechik.
              <i>In Proceedings of the 14th International Conference on Mining Software Repositories, MSR 2017.</i></p>
          <li>
            <h4 class="text-primary"><b>Precise Semantic History Slicing through Dynamic Delta Refinement.</b></h4>
            <p>Chenguang Zhu, Yi Li, Julia Rubin and Marsha Chechik.
              <i>In Proceedings of the 31st IEEE/ACM International Conference on Automated Software Engineering, ASE 2016.</i></p>
          <li>
            <h4 class="text-primary"><b>Semantic Slicing of Software Version Histories</b></h4>
            <p>Yi Li, Julia Rubin and Marsha Chechik.
              <i>In Proceedings of the 30th IEEE/ACM International Conference on Automated Software Engineering, ASE 2015.
		This paper won an ACM Distinguished Paper Award.</i></p>
        </ul>
      </div>
  </div>
  </section>

  <section id="people">
    <div class="container">
      <div class="page-header">
	<h1 class="text-center text-primary">People</h1>
      </div>
      <div class="row">
	<div class="col-sm-3">
	  <img class="img-circle center-block img-responsive" src="<%= baseURL %>/images/yi.jpg" height="150" width="150">
	  <div class="caption text-center"><a href="http://www.cs.toronto.edu/~liyi/host/index.html">Yi Li</a></div>
	</div>
	<div class="col-sm-3">
	  <img class="img-circle center-block img-responsive" src="<%= baseURL %>/images/chenguang.jpg" height="150" width="150">
	  <div class="caption text-center"><a href="http://www.cs.utoronto.ca/~polaris/">Chenguang Zhu</a></div>
	</div>
	<div class="col-sm-3">
	  <img class="img-circle center-block img-responsive" src="<%= baseURL %>/images/julia.jpg" height="150" width="150">
	  <div class="caption text-center"><a href="http://www.ece.ubc.ca/~mjulia/">Julia Rubin</a></div>
	</div>
	<div class="col-sm-3">
	  <img class="img-circle center-block img-responsive" src="<%= baseURL %>/images/marsha.jpg" height="150" width="150">
	  <div class="caption text-center"><a href="http://www.cs.toronto.edu/~chechik/">Marsha Chechik</a></div>
	</div>
      </div>
    </div>
  </section>
  
  <hr>

  <footer id="footer">
    <p class="text-center">© University of Toronto 2017</p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</body>
</html>
